body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    max-width: 80vw;
    min-width: 60vw;
}

.titulo {
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #F2C744;
    border-bottom: 2px solid #FFF;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.selecao-de-personagens {
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    gap: 10%;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 600px;
}

.lista-de-personagens .personagem {
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}

.lista-de-personagens .personagem img {
    width: 100%;
    height: 100%;
}

.lista-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 0px 4px #F2C744;
}

.selecao-de-personagens .personagem-selecionado {
    text-align: center;
}

.personagem-selecionado .personagem-grande {
    /* height: 320px; */
}

.personagem-selecionado .nome-personagem {
    border-bottom: 2px solid #FFF;
    width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 22px;
    color: #F2C744;
    margin-top: 10px;
}

.personagem-selecionado .descricao-personagem {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 20px 10px 2px 10px;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}